
        <div class="fixed left-0 right-0 bottom-0 w-56 px-4">
            
            <p class="text-gray-500 text-xs font-normal">Currently Playing</p>
            <hr class="my-2" />
            <div class="pb-4 w-full flex gap-4">
                <img class="w-10 h-10 rounded-full" src="/uploads/img/60x60.png" />
                <div class="w-full overflow-hidden relative">
                    <div class="playing-slider ">
                        <div class="">Good Kid sdfmls;dm flsd, M.A.A.D City</div>
                    </div>
                    <p class="text-xs text-gray-500">Marawn Pablo </p>

                </div>
            </div>

        </div>