{% include 'views/front/' ~ template ~ '/includes/head.html.twig' %}

<div class=" w-full">

    <div class="w-full flex gap lg:gap-2" id="main-container">
        
        {% include 'views/front/' ~ template ~ '/app.html.twig' %}
        
    </div>
</div>
    
<!-- Footer -->
{% include 'views/front/' ~ template ~ '/includes/footer.html.twig' %}

</body>

</html>