
            
                

                <div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white px-2 py-8 lg:p-8  rounded-lg shadow shadow-lg relative" >

                    <div class="w-full relative  rounded-lg shadow-md  ">
                        <div class="w-full text-primary border-1 p-8">
                            <div class="w-full dark:text-gray-300 text-xl font-bold tracking-wide">{{lang.translate('Found similar Artists')}} {{app.params.title}}</div>
                        </div>
                        <hr class="opacity-30" />
                        <div class="w-full lg:p-8 py-8 px-2">
                            <div class="w-full flex">
                                <div class="w-full ">
                                    <ul class="w-full space-y-4 pb-20">
                                    {% for item in list.items %}                                   
                                    {% include 'views/front/' ~ template ~ '/includes/artist-block.html.twig' %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        {% set view_items_limit = app.SystemSetting.view_artists_limit %}
                        {% include 'views/front/' ~ template ~ '/includes/pagination.html.twig' %}
                        
                    </div>  
                </div>
                

         