<div x-data="{}" class="fixed inset-0 z-50 overflow-y-auto hidden transition-all transition"  id="upload-file-popup" role="dialog" aria-modal="true" data-headlessui-state="open">
	<div class="min-h-full text-center">
		<div class="fixed inset-0 bg-download_popup blurFilter opacity-100" id="headlessui-dialog-overlay-:r3n:" aria-hidden="true" data-headlessui-state="open"></div>
		<span class="hidden lg:inline-block h-screen align-middle" aria-hidden="true">​</span>
		<div data-testid="loginContainer" class="inline-block dark:text-white w-full max-w-[42.125rem] sm:w-auto overflow-hidden text-left align-middle transition-all transform shadow-xl h-auto md:h-[29.125rem] rounded-xl border-box opacity-100 scale-100">
			<div class="w-96 h-full relative">
				<div class="align-middle bg-wynk-dark-dark_popup col-span-7 px-8 pb-8 pt-10 md:pb-6 md:pl-[2.125rem] md:pr-7 relative flex flex-col justify-between">
					<div x-on:click="jQuery('#upload-file-popup').addClass('hidden')" data-testid="loginCrossButton" class="h-6 w-6 right-4 top-4 dark:text-white hover:text-gray-400 cursor-pointer absolute">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</div>

					<div class="inline-block w-full">
                        <div class="text-primary dark:text-gray-300 w-full  rounded-2xl ">
                            <div class="w-full ">
                                <form action="/front_api/update" method="POST" id="upload-file-form" class="ajax-form w-full">
                                    <input type="hidden" name="type" value="Audiobook.upload_file" />
                                    <input id="upload-file-media" type="hidden" name="params[media_id]" value="" />
                                    <h2 class="text-2xl dark:text-gray-300 w-full ">{{lang.translate('Upload file')}}</h2>
                                    <hr class="opacity-0 my-2" />
                                    <div class="grid-cols-1 lg:grid-cols-2 grid mx-auto ">
                                    
                                        <label class="cursor-pointer py-4 px-2 dark:bg-gray-800  bg-gray-200 rounded-3xl w-40 border border-1 border-dashed	border-rose-600">
                                            <img id="imagePreview2" src="/src/front_assets/svg/music-tone.svg" class="dark:opacity-30" />
                                            <input id="imageInput" type="file" name="file" class="hidden" />
                                        </label>           
                                        
                                        <div class="text-primary relative ml-4 mt-10 bottom-0  mb-8">
                                            <p class="block my-4 text-gray-400">{{lang.translate('Click to upload your files')}}</p>
                                        </div>  
                                    </div>
                                    
                                    <div  class="mt-4 relative flex max-h-64 overflow-auto flex-col rounded-lg border border-slate-200 dark:border-gray-600 bg-white dark:bg-gray-800 shadow-sm" id="station-popup-or">
                                        <nav class="flex min-w-[240px] flex-col gap-1 p-1.5" >
                                            <span class="text-center">OR</span>
                                        </nav>
                                    </div>
                                    
                                    <div class="mt-4 relative max-h-64 overflow-auto flex-col rounded-lg border border-slate-200 dark:border-gray-600 bg-white dark:bg-gray-800 shadow-sm">
                                        <nav class="flex flex-col gap-1 p-1.5" >
                                            <input placeholder="{{lang.translate('Add MP3 Link directly')}}" name="params[link]"  type="text"  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
                                        </nav>
                                    </div>
                                    <div class="w-full flex ">
                                        <button type="submit" class=" dark:text-gray-300 inline-block my-6 px-6 py-2 rounded-2xl border transition hover:border-rose-600 border-rose-400">{{lang.translate('Upload')}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="h-10"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>