        

            <div class="w-full block px-2">

                <div class="w-full lg:flex gap-4  pt-8">
                    
                    <div class="w-full lg:w-3/4 ">
                        [plugin_shortcode id='7' ]	
                    </div>

                    <div class="min-w-64  relative  mb-4">
                        [plugin_shortcode id='9' ]	

                    </div>
                </div>

                <div class="h-10"></div>
                
                [plugin_shortcode id='10' ]	

                [plugin_shortcode id='4' ]	

                <div class="h-10"></div>

                [plugin_shortcode id='5' ]	
            </div>
