
            
            <div class="py-4 px-2 w-full">                     
                <div class="z-20 w-full relative dark:bg-gray-900 bg-white   lg:p-8 p-4 rounded-lg rounded  shadow-md mb-4" id="channels-list">

                    <div class="flex text-primary  w-full pb-4">
                        <h3 class="text-xl text-gray-500 font-normal w-full">{{lang.translate('Your liked items')}}</h3>
                    </div>
                    <hr class="opacity-30 mb-4" />

                </div>


                <div class="w-full lg:flex gap-6 dark:bg-gray-900 bg-white  py-4 lg:p-8 rounded-lg shadow shadow-lg relative" >

                    <div class="w-full relative  rounded-lg shadow-md  ">
                        <div class="w-full lg:p-8 py-8 px-2">
                            <div class="w-full flex">
                                <div class="w-full ">
                                    <ul class="w-full space-y-4 pb-20">
                                    {% for media_item in list.items %}                                   
                                    {% include 'views/front/' ~ template ~ '/includes/tracks-list.html.twig' %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        {% include 'views/front/' ~ template ~ '/includes/pagination.html.twig' %}


                    </div>  
                    
                </div>
                <div class="h-10"></div>
            </div>

         